<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <file>tests/Integration/ConsultaServiceTest.php</file>
            <file>tests/Integration/FacturaServiceTest.php</file>
            <file>tests/Integration/CompraServiceTest.php</file>
            <file>tests/Integration/NotaServiceTest.php</file>
            <file>tests/Integration/ReciboPagoServiceTest.php</file>
            <file>tests/Integration/ConsultaHaciendaServiceTest.php</file>
            <file>tests/Integration/AnulacionServiceTest.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
